state_machines/ingestion_workflow.asl.json
{
    "Comment": "Ingestion Workflow for RAG System",
    "StartAt": "CleanDataForEmbedding",
    "States": {
      "CleanDataForEmbedding": {
        "Type": "Task",
        "Resource": "${CleanLambdaArn}",
        "Parameters": {
          "dataBucket.$": "$.dataBucket",
          "inputKey.$": "$.inputKey"
        },
        "Next": "ChunkData"
      },
      "ChunkData": {
        "Type": "Task",
        "Resource": "${ChunkLambdaArn}",
        "Parameters": {
          "data.$": "$.cleanedData"
        },
        "Next": "GenerateEmbeddings"
      },
      "GenerateEmbeddings": {
        "Type": "Task",
        "Resource": "${EmbedLambdaArn}",
        "Parameters": {
          "chunks.$": "$.chunkedData"
        },
        "Next": "LoadToVectorDatabase"
      },
      "LoadToVectorDatabase": {
        "Type": "Task",
        "Resource": "${LoadToQdrantLambdaArn}",
        "Parameters": {
          "embeddings.$": "$.embeddings",
          "metadata.$": "$.metadata",
          "collectionName": "your_qdrant_collection"
        },
        "End": true
      }
    }
  }
  